* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --sec-text: #73757A;
    --main-text: #FFFFFF;
    --play-bar: #282828;
    --bg: #141922;
    --contrast: #ADFF2F;
    --side-bar: #000000;

}


/*icons

<i class="fa-solid fa-house"></i>
<i class="fa-regular fa-circle-play"></i>
<i class="fa-regular fa-heart"></i>
<i class="fa-regular fa-folder"></i>
<i class="fa-solid fa-magnifying-glass"></i>
<i class="fa-solid fa-backward-step"></i>
<i class="fa-solid fa-forward-step"></i>
<i class="fa-solid fa-rotate-right"></i>
<i class="fa-solid fa-shuffle"></i>
<i class="fa-solid fa-desktop"></i>
<i class="fa-solid fa-volume-high"></i>
<i class="fa-solid fa-list-ul"></i>
<i class="fa-solid fa-arrow-down"></i>
<i class="fa-solid fa-bars"></i>
<i class="fa-solid fa-plus"></i>

*/


/* classi generiche*/

.d-flex {
    display: flex;
}

.tac {
    text-align: center;
}

.aic {
    align-items: center;
}

.acc {
    align-content: center;
}

.aie {
    align-items: flex-end;
}

.jus-end {
    justify-content: flex-end;
}

.jus-sp {
    justify-content: space-between;
}

.jus-c {
    justify-content: center;
}

.fl-wr {
    flex-flow: row wrap;
}

.gap-15 {
    gap: 15px;
}

.p-5 {
    padding: 5px;
}

.p-15 {
    padding: 15px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-80 {
    padding-top: 80px;
}

.pm-10 {
    padding-bottom: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.bold {
    font-weight: bold;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 32px;
    transform: scale(0.8);
}

.circle {
    border-radius: 50%;
}

.pulsanti i:hover,
.volume i:hover {
    transform: scale(1.4);
}

.btn:hover {
    transform: scale(1.2);
}

.sec-text:hover,
a:hover,
.fa-arrow-down:hover,
.icon:hover {
    color: var(--main-text);
    cursor: pointer;
}

#plus:hover {
    background-color: var(--main-text);
}

nav ul li :after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;
}

.active::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: var(--contrast)
}

nav ul li:hover :after {
    background-color: var(--contrast);
}

.img-card {
    position: relative;
}

.overlay {
    position: absolute;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .5s;

}

.card:hover .overlay {
    opacity: 1;
}

.sez-playlist{
    height:80%
    ; overflow: hidden;
}


/* sound-bar*/


input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ADFF2F, #ADFF2F);
    background-size: 30% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;

}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #73757A;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;

}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #73757A;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;

}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #ADFF2F;
}






.bt {
    border-top: 1px solid var(--sec-text);
}

.column {
    flex-direction: column;
}



.btn {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--main-text);
    border: 1px solid var(--main-text);
}

.tt-up {
    text-transform: uppercase;
}

ul {
    list-style: none;

}

.sec-text {
    color: var(--sec-text);
}

a {
    text-decoration: none;
    color: var(--sec-text);
}

img {
    width: 100%;
    display: block;
}

.small {
    display: none;
}

.as-end {
    align-self: flex-end;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-15,
li {
    margin-bottom: 15px;
}

.mt-10,
h4 {
    margin-top: 10px;
}

.tc-p {
    color: var(--main-text);
}

.pl-5 {
    padding-left: 5px;
}

.pl-15 {
    padding-left: 15px;
}








.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    color: var(--main-text);
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
}


.side-bar {
    width: 230px;
    height: 100%;
    min-height: 585px;
    background-color: var(--side-bar);
    color: var(--sec-text);

}

.top-bar {
    width: 100%;
    height: calc(100% - 80px);
}

.bottom-bar {
    width: 100%;
    height: 80px;
}

.playlist {
    overflow: auto;
    height:60%;

}

a i {
    font-size: 20px;
}


.logo {
    width: 70%;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: var(--sec-text);
}

.fa-arrow-down {
    border: 1px solid var(--sec-text);
    border-radius: 50%;
    padding: 2.5px 4px;
    font-size: 10px;

}

#plus {
    display: inline-block;
    background-color: var(--sec-text);
    color: var(--side-bar);
    padding: 5px 8px;
}

#user {
    background-color: var(--sec-text);
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}


.main-content {
    overflow: auto;
    width: calc(100% - 230px);
    background-color: var(--bg);
    height: 100%;
}

.upgrade-bar {
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}


#playbar {
    height: 90px;
    width: 100%;
    background-color: var(--play-bar);
}

.album,
.volume {
    width: 230px;
    height: 100%;
}

.copertina {
    width: 50px;
}

.sound-bar {
    width: 33%;
    height: 100%;
}



.card {
    width: calc(100% / 6 - 15px);
    margin-top: 10px;
    position: relative;

}

.artist img {
    border-radius: 50%;

}





/*media query*/




@media screen and (max-height:180px) {
    .upgrade-bar {
        display: none;
    }

}

@media screen and (max-width:992px) {

    .card {
        width: calc(100% / 4 - 15px);
    }

}

@media screen and (max-width:768px) {

    .card {
        width: calc(100% / 2 - 15px);
    }
}

@media screen and (max-width:576px) {
    .side-bar {
        width: 80px;
        padding: 10px 0
    }

    .top-bar ul {
        padding-left: 24px;
    }

    .main-content,
    .upgrade-bar {
        width: calc(100% - 80px);
    }

    .large {
        display: none;
    }

    .small {
        display: block;
        padding-left: 15px;
        margin-top: 5px;
    }

    .volume {
        flex-flow: row-reverse;
        margin-right: 15px;
    }


}

@media screen and (max-width:375px) {
    .upgrade-bar {
        display: none;
    }

}